# MacOS
.DS_Store

# Emacs
\#*\#
.\#*\#
emacs/.cache
emacs/.emacs.desktop
emacs/.lsp-session-v1
emacs/.org-id-locations
emacs/auto-save-list
emacs/autosave
emacs/backup
emacs/bookmarks
emacs/eln-cache
emacs/rime
emacs/elpa
emacs/history
*-notes.org
emacs/manually_installed
emacs/nov-places
emacs/places
emacs/projectile-bookmarks.eld
emacs/projectile.cache
emacs/projects
emacs/recentf
emacs/tramp
emacs/transient
emacs/url
emacs/var
emacs/librime
emacs/request
emacs/.emacs.desktop
emacs/.emacs.desktop.lock
emacs/forge-database.sqlite
emacs/org-roam.db
emacs/.dap-breakpoints
abbrev_defs

clash
base16-shell

# fish
fish/*
!fish/config.fish

# karabiner
karabiner/automatic_backups

# htop
htop/htoprc

# flameshot
flameshot.ini

# remove it until I figure out a way to unsave `:count` property
.abbrev_defs

# dlv
dlv

# raycast
raycast/extensions

# Rime
rime/build/
rime/user.yaml
